.button {
  display: inline-block;
  padding: 10.5px;

  font-size: 16px;
  line-height: 20px;
  font-family: $ff-other;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $basic-green;
  border: none;
  cursor: pointer;

  transition: background-color $trans-default;

  @include hover-focus {
    background-color: $basic-green2;
  }

  @include active {
    color: rgba(255, 255, 255, 0.3);

    background-color: $basic-green2;
  }

  @include disabled {
    background-color: $disabled-grey;

    pointer-events: none;
  }
}
