.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: $dark-grey;
  text-decoration: none;

  fill: $special-grey2;
  gap: 20px;

  @media (min-width:$tablet-width) {
    justify-content: end;

    gap: 23px;
  }

  svg {
    width: 27px;
    height: 34px;
  }
}
