.footer__container {
  padding-top: 40px;

  background-color: $basic-grey;

  @media (min-width:$tablet-width) {
    display: grid;
    justify-content: space-between;
    align-content: center;
    min-height: 37px;
    padding: 55px 0;

    column-gap: auto;

    grid-template-columns: repeat(3, 1fr);
  }
}

.footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 40px;

  @media (min-width:$tablet-width) {
    margin: 6px 0;
  }

}

// Нет текстовых характеристик для copyright
