.form form {
  overflow: hidden;
}

.form__container {
  max-width: 1440px;
  padding: 0;
}

.form__header {
  padding: 25px 0 17px;

  @media (min-width: $tablet-width) {
    padding: 38px 0 44px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 0 44px;
  }
}

.form__header .form__container {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.form__main-title {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }
}

.form__text {
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: $ff-other;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__group-wrapper {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    max-width: 1220px;
    margin: 0 auto 54px;

    gap: 20px 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__group {
  position: relative;

  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;

  border: none;

  &--text {
    padding: 23px 20px;

    @media (min-width: $tablet-width) {
      padding: 21px 70px 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 21px 0;
    }
  }

  &--radio {
    padding: 23px 20px 19px;

    border-top: 1px solid $border-grey;
    border-bottom: 1px solid $border-grey;

    @media (min-width: $tablet-width) {
      padding: 54px 70px 25px;

      border: none;
    }

    @media (min-width: $desktop-width) {
      padding: 21px 0;
    }
  }

  &--contacts {
    padding: 43px 20px 25px;

    @media (min-width: $tablet-width) {
      padding: 71px 70px 70px;
    }

    @media (min-width: $desktop-width) {
      padding: 72px 110px 75px;
    }
  }

  &--comment {
    padding: 36px 20px 20px;

    @media (min-width: $tablet-width) {
      padding: 82px 70px 65px;
    }

    @media (min-width: $desktop-width) {
      padding: 73px 110px 71px;
    }
  }

  &--check {
    padding: 32px 20px 19px;

    @media (min-width: $tablet-width) {
      padding: 53px 70px 17px;
    }

    @media (min-width: $desktop-width) {
      padding: 52px 110px 36px;
    }
  }

  &--submit {
    padding: 15px 20px 32px;

    @media (min-width: $tablet-width) {
      display: grid;
      align-items: center;
      padding: 34px 70px 62px;

      gap: 20px 60px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $desktop-width) {
      padding: 24px 110px 82px;

      gap: 20px 80px;
    }
  }

  &--lines {
    border-top: 2px solid $basic-green;
  }
}

.form__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 14px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.form__group--contacts .form__list {
  @media (min-width: $desktop-width) {
    gap: 20px 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__item {
  display: grid;
  align-items: baseline;
  min-height: 30px;

  gap: 15px;
  grid-template-columns: auto 1fr;

  @media (min-width: $tablet-width) {
    min-height: 40px;
  }
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  font-family: $ff-other;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input {
  width: 100%;
  height: 45px;
  padding: 9px 14px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $ff-other;
  color: $dark-grey;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid $input-grey;

  @include hover {
    border-color: $special-grey;
  }

  @include focus {
    border-color: $dark-grey;
    outline: none;
    box-shadow: 0 0 0 1px $dark-grey;
  }

  @include disabled {
    color: $dark-grey;

    background-color: $disabled-grey;

    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    height: 52px;
    padding: 9px 18px;

    font-size: 20px;
    line-height: 30px;
  }

  &--invalid {
    border-color: $status-error;
    box-shadow: 0 0 0 1px $status-error;
  }

  &--valid {
    border-color: $basic-green2;
    box-shadow: 0 0 0 1px $basic-green2;
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    margin: 0;

    appearance: none;
  }

  &[type="number"] {
    appearance: textfield;
  }
}

textarea.form__input {
  height: 150px;
  padding: 14px;

  resize: none;

  @media (min-width: $tablet-width) {
    height: 175px;
    padding: 10px 19px;
  }
}

.form__legend {
  margin: 0 -20px;
  padding: 0 20px;

  font-size: 24px;
  line-height: 27px;
  font-family: $ff-other;
  color: $black;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -4px;

    margin: 0 -40px;
    padding: 0 40px;

    font-size: 36px;
    line-height: 36px;
  }

  .form__group--contacts & {
    @media (max-width: $mobile-only) {
      position: relative;
      top: 9px;
    }
  }

  & br {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.form__input-container {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 13px;

    width: 20px;
    height: 20px;

    background-color: $black;
    transform: translateY(-50%);

    mask-position: center;
    mask-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      right: 16px;
    }
  }

  &--mail::after {
    mask-image: url("../../img/sprite.svg#icon-mail");
  }

  &--phone::after {
    mask-image: url("../../img/sprite.svg#icon-tel");
  }

  &:focus-within::after {
    background-color: $basic-green;
  }

  &--invalid::after {
    background-color: $status-error;
  }
}

.form__group--submit p {
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    margin: 0 0 7px;

    font-size: 16px;
    text-align: left;
  }
}

.form__submit {
  width: 100%;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    max-width: 284px;
    margin-bottom: 0;
    padding: 16px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
  }
}
