.it-work {
  margin-bottom: 53px;
}

.it-work__title {
  margin-bottom: 40px;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: $ff-other;

  @media (min-width:$tablet-width) {
    font-size: 60px;
    line-height: 60px;


  }

}

.it-work__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width:$tablet-width) {
    display: grid;

    column-gap: 137px;

    grid-template-columns: repeat(2, 230px);
  }

  @media (min-width:$desktop-width) {
    justify-content: space-around;

    grid-template-columns: repeat(4, 230px);
  }
}

.it-work__item {
  position: relative;

  margin-bottom: 26px;
  padding-left: 80px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $ff-main;
  color: $dark-grey;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width:$tablet-width) {
    min-height: 280px;

  }
}

// .it-work__item--icon-leaf {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;

//   width: 60px;
//   height: 60px;

//   background-color: $basic-green;
//   background-image: url("../../img/svg/icon-leaf1.svg");
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
// }
