.logo {
  color: $dark-grey3;

  --color-logo-text: $dark-grey3;
  fill: currentColor;

  &--header {
    display: grid;
    align-items: center;

    column-gap: 56px;

    grid-template-columns: auto 1fr;

    @include hover-focus {
      color: $dark-grey;

      opacity: 0.8;
    }

    @include active {
      opacity: 0.6;
    }

    @media (min-width: $tablet-width) {
      color: $dark-grey;
      column-gap: 13px;
    }

    @media (min-width: $desktop-width) {
      color: $dark-grey;
      column-gap: 14px;
    }
  }

  &--footer {
    display: block;
    width: 128px;
    height: 24px;
    margin: 0 auto 19px;

    @include media-min($tablet-width) {
      margin: 0;
    }

    @include hover-focus {
      color: #3e3e3e;

      --color-logo-text: #3e3e3e;
    }

    @include active {
      color: #6b6b6b;

      --color-logo-text: #6b6b6b;
    }
  }

  & img {
    display: block;
    width: 33px;
    height: 38px;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 50px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 59px;
    }
  }
}

.logo--header svg {
  display: block;
  width: 101px;
  height: 18px;

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.logo--footer svg {
  display: block;
  width: 100%;
  height: 100%;
}
