.more {
  padding: 25px 0 35px;
}

.more__inner {
  @media (min-width:$desktop-width) {
    display: grid;
    align-items: start;

    gap: 30px 80px;
    grid-template-columns: 1fr auto;
  }
}

.more__title {
  margin: 0 0 36px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: $ff-other;
  color: $black;

  @media (min-width:$tablet-width) {
    margin-bottom: 70px;

    font-size: 36px;
    line-height: 36px;
  }
}

.more__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.more__item {
  display: grid;
  justify-content: space-between;
  padding: 13px 0 18px;

  border-bottom: 1px solid $special-grey1;

  gap: 14px;
  grid-template-columns: repeat(2, auto);

  @media (min-width:$tablet-width) {
    padding: 26px 37px 28px;

    border: 1px solid $special-grey;
    border-bottom: none;

    gap: 18px 23px;
    grid-template-columns: 1fr 150px 70px;
  }

  @media (min-width:$desktop-width) {
    align-items: baseline;
    padding: 17px 0 14px;

    border: none;
    border-top: 1px solid $special-grey;

    grid-template-columns: 1fr 220px 60px 244px;

    &:last-child {
      border-bottom: 1px solid $special-grey;
    }
  }
}

.more__subtitle {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: $ff-other;
  color: $dark-grey2;
  text-transform: uppercase;

  grid-column: 1/-1;

  @media (min-width:$tablet-width) {
    font-size: 20px;
    line-height: 20px;

    grid-column: auto;
  }
}

.more__text {
  margin: 0;

  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 26px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.more__button {
  grid-column: 1/-1;

  @media (min-width:$desktop-width) {
    grid-column: auto;
  }
}

.more__present {
  margin: 0;
  padding: 172px 20px 26px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white;

  background-color: rgba(104, 183, 56, 0.85);
  background-image:
    url("../../img/sprite.svg#icon-present"),
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(url("../../img/present-icon@2x.webp") type("image/webp") 2x, url("../../img/present-icon@1x.webp") type("image/webp") 1x, url("../../img/present-icon@2x.jpg") 2x, url("../../img/present-icon@1x.jpg") 1x);
  background-repeat: no-repeat;
  background-position: top 59px center, top, top;
  background-size: 78px 80px, auto, cover;

  @media (min-width: $tablet-width) {
    padding: 56px 20px 52px 60%;

    text-align: left;

    background-image:
      url("../../img/sprite.svg#icon-present"),
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(url("../../img/present-bg-tablet@2x.webp") type("image/webp") 2x, url("../../img/present-bg-tablet@1x.webp") type("image/webp") 1x, url("../../img/present-bg-tablet@2x.jpg") 2x, url("../../img/present-bg-tablet@1x.jpg") 1x);
    background-position: center left 80px, top, center;
  }

  @media (min-width:$desktop-width) {
    width: 245px;
    padding: 172px 20px 26px;

    text-align: center;

    background-image:
      url("../../img/sprite.svg#icon-present"),
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(url("../../img/present-bg-desctop@2x.webp") type("image/webp") 2x, url("../../img/present-bg-desctop@1x.webp") type("image/webp") 1x, url("../../img/present-bg-desctop@2x.jpg") 2x, url("../../img/present-bg-desctop@1x.jpg") 1x);
    background-position: top 59px center, top, right;
  }
}
