.page-title {
  margin: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: $ff-other;
  color: $black;

  @media (min-width: $tablet-width) {
    padding-bottom: 19px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 19px;
  }
}
