.program-type {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

}

.program-type__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width:$desktop-width) {
    display: grid;

    column-gap: 80px;

    grid-template-columns: repeat(2, 1fr);
  }

}

.program-type__item-img {
  margin-bottom: 20px;
  padding: 30px 20px 21px;

  background-color: $basic-grey;
  background-repeat: no-repeat;

  &--slim {
    background-image: url("../../img/sprite.svg#cat-back");
    background-position: left 20px top 23px;
    background-size: 50px 50px;

    @media (min-width:$tablet-width) {
      background-position: right 63px center;
      background-size: 200px 213px;
    }

    @media (min-width:$desktop-width) {
      background-position: left 52px top 38px;
      background-size: 100px 108px;
    }
  }

  &--pro {
    background-image: url("../../img/sprite.svg#cat-back1");
    background-position: left 12px top 25px;
    background-size: 67px 50px;

    @media (min-width:$tablet-width) {
      background-position: right 28.87px center;
      background-size: 268px 200px;
    }

    @media (min-width:$desktop-width) {
      background-position: left 33px top 40px;
      background-size: 135px 109px;
    }
  }

  @media (min-width:$tablet-width) {
    padding: 74px 315px 59px 52px;
  }

  @media (min-width:$desktop-width) {
    min-height: 374px;
    margin-bottom: 0;
    padding: 78px 30px 38px 53px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width:$tablet-width) {
      margin-bottom: 30px;
    }

    @media (min-width:$desktop-width) {
      margin-bottom: 0;
    }

  }
}

.program-type__title {
  margin: 0 0 30px 70px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: $ff-other;
  color: $black;
  text-transform: uppercase;

  @media (min-width:$tablet-width) {
    margin: 0;
    margin-bottom: 26px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width:$desktop-width) {
    margin: 0 0 71px 160px;
  }
}

.program-type__text {
  margin: 0 0 20px;
  padding-bottom: 21px;

  font-size: 14px;
  line-height: 18px;
  font-family: $ff-main;

  border-bottom: 1px solid $border-grey;

  @media (min-width:$tablet-width) {
    padding-bottom: 0;

    font-size: 16px;
    line-height: 24px;
    font-family: $ff-main;
    color: $black;

    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
    padding-bottom: 7px;
  }

}

.program-type__link {
  position: relative;

  display: flex;
  width: fit-content;
  padding-right: 52px;

  font-size: 16px;
  line-height: 16px;
  font-family: $ff-other;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  transition: 0.2s all;

  @include hover-focus {
    &::after {
      width: 32px;
    }
  }

  @include active {
    opacity: 0.3;
  }

  @media (min-width:$tablet-width) {
    margin-top: 52px;
    padding-right: 58px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width:$desktop-width) {
    margin-top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% - 35px);

    width: 24px;
    height: 12px;

    background-color: $black;
    transform: translateY(-50%);

    transition: width 0.3s ease;

    mask-image: url("../../img/sprite.svg#icon-arrow");
    mask-position: right center;
    mask-repeat: no-repeat;
    mask-size: 32px 12px;
  }
}
