.example {
  background-color: $sliderGrey;
}

.example__title {
  padding-top: 25px;
  padding-bottom: 40px;
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
}

.example__list {
  display: flex;
  padding: 0;

  list-style-type: none;

  gap: 32px;
}

.example__item {
  min-width: 124px;
}

.example__text {
  font-size: 24px;
  line-height: 24px;
  font-family: Oswald;
  text-align: center;
  color: $black;

  &--type {
    font-size: 12px;
    line-height: 12px;
    font-family: Lato;
    color: $specialDarkGrey;
  }

  &--price {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

@media (min-width:$tablet-width) {
  .example {
    background-color: $white;
  }

  .example__result {
    display: flex;
    justify-content: space-between;
  }

  .example__list {
    width: 162px;

    gap: 43px;
  }
}

@media (min-width: $desktop-width) {
  .example__container {
    display: grid;
    justify-content: space-between;

    grid-template-columns: 436px 560px;
  }

  .example__result {
    display: grid;
    width: 436px;
  }
}
