.location {
  background-color: $basicGrey;
}

.location--index {
  background-color: $white;
}


.location__contacts {
  display: flex;
  padding: 26px 0 26px 0;
}

.location__iframe-container {
  width: 100%;
}


@media (min-width: $desktop-width) {
  .location__iframe {
    // width: 100%;
  }
}
