.main-footer__container {
  background-color: $basicGrey;
}

.main-footer__container {
  display: grid;
  justify-content: center;
  padding: 40px 0 40px 0;

  gap: 40px;
  grid-template-rows: repeat(3, auto);
}

.main-footer__logo {
  margin: 0 auto;
}

@media (min-width:$tablet-width ) {
  .main-footer__container {
    justify-content: space-between;
    align-items: center;

    grid-template-columns: repeat(3, auto);
  }
}
