.main-footer__container {
  background-color: #f2f2f2;
}

.main-footer__container {
  display: grid;
  justify-content: center;
  padding: 40px 0 40px 0;

  gap: 40px;
  grid-template-rows: repeat(3, auto);
}

.main-footer__logo {
  margin: 0 auto;
}

.social {
  display: grid;
  justify-content: center;
  margin-top: 5px;
  padding: 0;

  list-style-type: none;

  gap: 24px;
  grid-template-columns: repeat(3, auto);
}
