.more__title {
  margin: 25px 0 36px 0;

  font-size: 24px;
  line-height: 24px;
  font-family: Oswald;
  text-align: center;
  color: $black;
}

.more__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1220px;
  margin: 0;
  padding: 0;
}

.more__item {
  padding-bottom: 19px;

  border-bottom: 1px solid $specialGrey2;
}

.more__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: Lato;
  color: $specialDarkGrey;
}

.more__button {
  padding: 10px 0;
}

@media(min-width:$tablet-width) {
  .more__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 26px 0 28px 0;
  }

  .more__title {

    width: 50%;
  }

  .more__text {
    width: 25%;
  }

  .more__button {
    width: 632px;
    margin: 0 auto;

  }
}

@media(min-width:$desktop-width) {
  .more_wraper {
    display: grid;

    column-gap: 80px;

    grid-template-columns: 895px 245px;
  }
}
