.navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;

  column-gap: 33px;
}

// Взяла готовый код для выподающего меню
.navigation__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  --width: 40px;
  width: var(--width);
  --height: 30px;
  height: var(--height);

  --line-height: 1px;
  --color: #ffffff;

  --line-margin: 2;
  --time: 0.1s;
}

.toggle-icon {
  position: relative;

  width: var(--width);
  height: var(--line-height);

  background-color: var(--color);
}

.toggle-icon::before,
.toggle-icon::after {
  content: "";
  position: absolute;
  left: 0;

  display: block;
  width: var(--width);
  height: var(--line-height);

  background-color: var(--color);

  transition: transform var(--time) ease-in,
    top var(--time) linear var(--time);
}

.toggle-icon::before {
  top: calc(var(--line-height) * -8);
}

.toggle-icon::after {
  top: calc(var(--line-height) * 8);
}

.toggle-icon.toggle-icon--active {
  background-color: transparent;
}

.toggle-icon.toggle-icon--active::before,
.toggle-icon.toggle-icon--active::after {
  top: 0;

  transition: top var(--time) linear,
    transform var(--time) ease-in var(--time);
}

.toggle-icon.toggle-icon--active::before {
  transform: rotate(45deg);
}

.toggle-icon.toggle-icon--active::after {
  transform: rotate(-45deg);
}
