 .page-header__container {
   display: flex;
   flex-direction: column;
   max-width: 100%;

 }

 .page-header__logo {
   height: 65px;

   outline: 1px solid rgba(216, 118, 26, 0.8);
   outline-offset: -3px;
 }

 .page-header__logo-imag {
   height: 38px;
 }


 @media (min-width: $tablet-width) {
   .main-header__logo {
     height: 75px;
   }

   .page-header__logo-imag {
     background-image: url("../img/svg/logo.svg");
     background-repeat: no-repeat;
   }

   .page-header__logo--mobile {
     display: none;
   }
 }

 @media (min-width: $desktop-width) {

   .main-header__logo {
     height: 114px;
   }

   .page-header__logo-imag {
     background-image: url("../img/svg/logo.svg");
     background-repeat: no-repeat;
   }

   .page-header__logo--mobile {
     display: none;
   }
 }
