.present {
  min-height: 290px;

  background-color: rgba(104, 183, 56, 0.85);
}

.more__present {
  background-image: url("../img/present-cat.png");
  background-repeat: no-repeat;
  background-size: cover;

}
