.program-type__list {
  list-style-type: none;
}

.program-type__item {
  background-color: #f2f2f2;



}

.program-type__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: Oswald;
  color: #000000;
  text-transform: uppercase;
}

.program-type__text {
  min-width: 227px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: Lato;

}
