.program-type__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.program-type__item {
  margin-bottom: 20px;

  background-color: $basicGrey;
}

.program-type__title {
  margin: 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald", sans-serif;
  color: $black;
  text-transform: uppercase;
}

.program-type__text {
  font-family: "Lato", sans-serif;
  color: $specialDarkGrey;
}

@media (min-width: $tablet-width) {
  .program-type__list {
    min-width: 708px;
  }

}

@media (min-width: $desktop-width) {
  .program-type__list {
    display: grid;
    min-width: 1220px;

    gap: 80px;
    grid-template-columns: 570px 570px;

  }
}
