// Global
@import "./global/variables.scss";

@import "./global/mixins.scss";

@import "./global/fonts.scss";

@import "./global/global.scss";

@import "./global/visually-hidden.scss";

@import "./global/container.scss";

//Blocks
@import "./blocks/page-title.scss";

@import"./blocks/button.scss";

@import "./blocks/logo.scss";

@import "./blocks/page-header.scss";

@import "./blocks/functional.scss";

@import "./blocks/nav.scss";

@import "./blocks/control.scss";

@import "./blocks/example.scss";

@import"./blocks/slider.scss";

@import "./blocks/form.scss";

@import "./blocks/functional.scss";

@import "./blocks/it-work.scss";

@import "./blocks/location.scss";

@import "./blocks/footer.scss";

@import "./blocks/lines.scss";

@import "./blocks/more.scss";

@import "./blocks/product.scss";

@import "./blocks/program-form.scss";

@import "./blocks/program-type.scss";

@import "./blocks/social.scss";

@import"./blocks/contacts.scss";
