// Colors
$black: #000000;
$white: #ffffff;
$basicGreen: #68b738;
$basicGreen2: #5eaa2f;
$basicGrey: #f2f2f2;
$specialDarkGrey: #444444;
$lightGrey: #6b6b6b;
$specialDarkGrey: #222222;
$statusError: #ff8282;
$specialGrey: #666666;
$sliderGrey: #eaeaea;
$contactGrey: #111111;
$silverGrey: #cdcdcd;
$specialGrey2: #ebebeb;



// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
