// Global
@import "./global/fonts.scss";
@import "./global/global.scss";
@import "./global/visually-hidden.scss";
@import "./global/wrapper.scss";
@import "./global/container.scss";
@import"./global/button.scss";

//Blocks
@import "./blocks/page-header.scss";
@import "./blocks/functional.scss";
@import "./blocks/navigation.scss";
@import "./blocks/control.scss";
@import "./blocks/example.scss";
@import"./blocks/slider.scss";
@import "./blocks/form.scss";
@import "./blocks/functional.scss";
@import "./blocks/it-work.scss";
@import "./blocks/location.scss";
@import "./blocks/main.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/more.scss";
@import "./blocks/present.scss";
@import "./blocks/product.scss";
@import "./blocks/program-form.scss";
@import "./blocks/program-type.scss";
@import "./blocks/social.scss";
@import"./blocks/contacts.scss";
