// @include font("Name Fonts", name-file, 700, normal);
@mixin font($font_name, $file_name, $weight, $style) {
  font-style: #{$style};
  font-weight: #{$weight};
  font-family: $font_name;

  font-display: swap;
  src: url("../../fonts/#{$file_name}.woff2") format("woff2"),
  url("../../fonts/#{$file_name}.woff") format("woff");
}

// @include fontFolder("Name Fonts", name-folder, name-file, 700, normal);
@mixin fontFolder($font_name, $file__direct, $file_name, $weight, $style) {
  font-style: #{$style};
  font-weight: #{$weight};
  font-family: $font_name;

  font-display: swap;
  src: url("../../fonts/#{$file__direct}/#{$file_name}.woff2") format("woff2"),
  url("../../fonts/#{$file__direct}/#{$file_name}.woff") format("woff");
}

@mixin media-max($max-media) {
  @media (max-width: ($max-media - 1px)) {
    @content;
  }
}

// Mobile first
@mixin media-min($min-media) {
  @media (min-width: $min-media) {
    @content;
  }
}

@mixin media($retina) {
  @media (min-resolution: $retina) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin focus {
  &:focus-visible {
    outline: none;

    @content;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      outline: none;

      @content;
    }
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  &:focus-visible {
    outline: none;

    @content;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      outline: none;

      @content;
    }
  }
}

@mixin active {
  &:active {
    @content;
  }
}

@mixin disabled {
  &:disabled,
  &--disabled {
    @content;
  }
}

@mixin visibility-a11y {
  position: fixed;

  transform: scale(0);
}

@mixin visibility {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
