 $ff-main: "Lato", sans-serif;
 $ff-other: "Oswald", sans-serif;

 $mobile-only: 767px;
 $tablet-width: 768px;
 $desktop-width: 1260px;

 $basic-green: #68b738;
 $basic-green2: #5eaa2f;
 $basic-grey: #f2f2f2;
 $special-grey: #cdcdcd;
 $special-grey1: #ebebeb;
 $special-grey2: #666666;
 $special-grey3: #3e3e3e;
 $special-grey4: #6b6b6b;
 $special-grey5: #bababa;
 $special-grey6: #d3d3d3;
 $grey: #e6e6e6;
 $dark-grey: #444444;
 $dark-grey2: #222222;
 $dark-grey3: #111111;
 $status-error: #ff8282;
 $black: #000000;
 $white: #ffffff;
 $slider-grey: #eaeaea;
 $input-grey: #e7e7e7;
 $border-grey: #d9d9d9;
 $disabled-grey: #e5e5e5;
 $trans-default: 0.3s ease;
